

			<form action="__CONTROLLER__/addset" method="post" enctype="multipart/form-data">
				<table  width="880">

					<tr>
						<th>网站Logo :</th>
						<td><input type="file" name="logo"></td>
					</tr>
					<tr>
						<th>今日搜索 :</th>
						<td><textarea name="hotsearch" id="" cols="80" rows="3"></textarea></td>
					</tr>
					<tr>
						<th>网站作者 :</th>
						<td><textarea name="author" id="" cols="80" rows="3"></textarea></td>
					</tr>
					<tr>
						<th>是否启用 :</th>
						<td style="color:#ff9d59;">
							<input type="radio" name="status" value="1" />是
							<input type="radio" name="status" value="0" checked />否
						</td>
					</tr>
					<tr>
						<th></th>
						<td><input type="submit" value="添加配置" style="height:40px;width:100px;font-weight:bold;color:#ff9c59;font-size:17px;" /></td>
					</tr>
				</table>
			</form>






