
<script src="__PUBLIC__/Admin/js/jquery.js"></script>
		<div id="content-header">
			<div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 关于我们</a> <a href="#" class="current">关于我们</a> </div>
			<h1>关于我们</h1>
		</div>

		<style>
			th{ width: 80px;}
		</style>

		<div class="container-fluid">
			<hr>
			<div class="row-fluid">
				<div class="span12">

			<table class="table table-bordered table-striped table-responsive">
				<foreach name="setup" item="st">
					<tr>
						<th>优势 :</th>
						<td>{$st.profile}</td>
					</tr>
					<tr>
						<th>文化 :</th>
						<td>{$st.culture}</td>
					</tr>
					<tr style="background: yellow;height: 50px;width:100px;" >
						<th>证书:</th>
						<td><img src="__PUBLIC__/Common/Uploads/Certification/{$st.certification}" style="width: 400px"/></td>
					</tr>
					<tr>
						<th>是否启用 :</th>
						<td style="color:#ff9d59;"><span style="margin-left:20px;">{$st.status}</span></td>
					</tr>
					<tr>
						<th>配置操作:</th>
						<td  style="line-height:50px;" colspan="4">
							<!--<a href="__CONTROLLER__/updWebSet/id/{$st.id}" class="btn btn-primary">修改</a>-->
							<a href="__CONTROLLER__/updAboutUs/id/{$st.id}" class="btn btn-primary" style="text-decoration:none;margin-left:20px;">修改</a> | <a href="__CONTROLLER__/delAboutUs/id/{$st.id}" class="btn btn-primary" style="text-decoration:none;">删除</a>

						<!--	<a href="__CONTROLLER__/addAboutUs" class="btn btn-primary" hidden>添加配置</a>-->
						</td>
					</tr>
				</foreach>

			</table>

				</div>
			</div>
		</div>

