<!--面包屑和标题--->
<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> PDF</a> <a href="#" class="current">PDF速查系统</a> </div>
    <h1>PDF 字母排序</h1>
</div>

<div class="container-fluid">
    <hr>
    <div class="row-fluid">
                    <div class="widget-box">
                        <div class="widget-title"> <span class="icon"> <i class="icon-th"></i> </span>
                            <h5>PDF查询系统 输入关键字</h5>
                        </div>
                        <div class="widget-content nopadding">
                        <table class="table table-bordered table-striped">
                                <thead>
                                    <th>字母</th>
                                    <th>pdf</th>
                                </thead>
                                <foreach name="list" item="vo" key='k'>
                                    <tr>
                                        <td style="font-size: 20px;font-weight: bold">{$k} </td>
                                        <td>
                                            <volist name="vo" id="v">
                                            <a href=" __PUBLIC__/Uploads/pdf/{$v}" target="_blank">
                                               {$v}<br>
                                            </a>
                                        </volist>
                                        </td>
                                    </tr>
                                </foreach>
                        </table>
                        </div>
                     </div>
   </div>
</div>




