<script>
    function csubstr(str,len){
        if(str.length>10){
            return str.substring(0,len)+"...";
        }else{
            return str;
        }
    }
</script>

<!--Testinomials-->
        <section id="testinomialBg" class="padding bg_light">
            <div id="agent-2" class="padding_bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <h2 class="uppercase">热销产品</h2>
                            <p>专注研发、生产工业通讯网络产品的高科技公司</p>
                        </div>
                    </div>
                    <div class="row">
                        <volist name="goodsList" id="vo">
                        <div class="col-sm-4 margin40">
                            <div class="agent_wrap">
                                <div class="image">
                                    <img src="__PUBLIC__/Uploads/products/center/{$vo.img_center}" alt="{$vo.goods_name}">
                                    <div class="img-info">
                                        <a href="{:U('Goods/view?cat_id=' . $vo['cat_id'] . '&goods_id=' . $vo['goods_id'])}" target="_blank" data-toggle="tooltip" data-placement="right" title="{$vo.goods_name}">
                                            <h6><script>document.write(csubstr("{$vo.goods_name}",28));</script></h6>
                                        </a>
                                        <span>浏览量 | {$vo.hits}</span>
                                        <p class="top20 bottom30">{$vo.goods_price} {$vo.goods_name}{$vo.goods_title}</p>
                                        <hr>

                                        <a STYLE="text-decoration: none;color: yellow" href="{:U('Goods/view?cat_id=' . $vo['cat_id'] . '&goods_id=' . $vo['goods_id'])}" target="_blank" >MORE >></a>
                                        <!--
                                        <a class="btn-more"href="{:U('Goods/view?cat_id=' . $vo['cat_id'] . '&goods_id=' . $vo['goods_id'])}" target="_blank" >
                                            <i><img alt="arrow" src="__PUBLIC__/Home/images/arrow-yellow.png"></i><span>Full Profile</span><i><img alt="arrow" src="__PUBLIC__/Home/images/arrow-yellow.png"></i>
                                        </a>
                                        -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        </volist>
                    </div>
                </div>
            </div>



            <!--
            <div class="container bg_white padding">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <h3 class="uppercase">顾客反应</h3>
                        <p class="heading_space">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam nec viverra erat Aenean elit tellus.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div id="testinomial-slider" class="owl-carousel display navigate">
                            <div class="item">
                                <div class="testinomial_content text-center">
                                    <img src="__PUBLIC__/Home/images/author2.png" alt="happy client" class="bottom15">
                                    <h4 class="uppercase"> SAM NICHOLSON</h4>
                                    <span class="smmery bottom15">( NorthMarq Capital  )</span>
                                    <img src="__PUBLIC__/Home/images/stars.png" alt="rating" class="bottom30">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testinomial_content text-center">
                                    <img src="__PUBLIC__/Home/images/author.png" alt="happy client" class="bottom15">
                                    <h4 class="uppercase"> SAM NICHOLSON</h4>
                                    <span class="smmery bottom15">( NorthMarq Capital  )</span>
                                    <img src="__PUBLIC__/Home/images/stars.png" alt="rating" class="bottom30">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                                </div>
                            </div>
                            <div class="item">
                                <div class="testinomial_content text-center">
                                    <img src="__PUBLIC__/Home/images/author2.png" alt="happy client" class="bottom15">
                                    <h4 class="uppercase"> SAM NICHOLSON</h4>
                                    <span class="smmery bottom15">( NorthMarq Capital  )</span>
                                    <img src="__PUBLIC__/Home/images/stars.png" alt="rating" class="bottom30">
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh tempor cum soluta nobis consectetuer adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis egestas rhoncus. Donec facilisis fermentum sem, ac viverra ante luctus vel.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </section>
        <!--Testinomials ends-->