
 <!--Partners-->
 <section id="logos">
     <div class="container partner2 padding">
         <div class="row">
             <div class="col-sm-12 text-center">
                 <h3 class="uppercase">Partners</h3>
                 <p class="heading_space">Industrial optical fiber equipment manufacturer provides you with the most reasonable solutions, leading, safe and stable optical fiber equipment products, shenzhen feiyu active department can help you leap forward</p>
             </div>
         </div>
         <div class="row">
             <div id="partners" class="owl-carousel">
                 <volist name="partnerbannerdata" id="pbn">
                     <div class="item">
                         <img src="__PUBLIC__/Uploads/banner/yuan/{$pbn.thumb}" alt="{$pbn.banner_name}">
                     </div>
                 </volist>
             </div>
         </div>
     </div>
 </section>
 <!--Partners Ends-->