

		<script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery.js"></script>

		<center style="height:40px;line-height:40px;"><b style="color:#d39c59;font-size:30px;">用户管理</b></center>
		<center><form action="__CONTROLLER__/delusers" method="post">
			<table width="1100">
				<tr>
					<th></th>
					<th>用户ID</th>
					<th>用户名</th>
					<th>用户头像</th>
					<th>用户等级</th>
					<th>注册时间</th>
					<th>操作</th>
				</tr>
				
					<foreach name="user" item="us">
						<tr>
							<td align="center" width="20"><input type="checkbox" name="sel[]" class="selectors" value="{$us.id}"></td>
							<td align="center">{$us.id}</td>
							<td>{$us.username}</td>
							<td>{$us.}</td>

							<td align="center">
								<a href="__PUBLIC__/Common/Uploads/Headpic/{$us.photoname}" class="tooltip">
									<img src="__PUBLIC__/Common/Uploads/Headpic/{$us.photoname}" alt="没有头像" title="" width="70" height="30" id="largen_headpic" />
								</a>
							</td>


							<td align="center">{$us.userrank}</td>
							<td align="center">{$us.regtime}</td>
							<td align="center" width="80" style="font-size:13px;"><a href="__CONTROLLER__/mod/id/{$us.id}">修改</a>|<a href="__CONTROLLER__/del/id/{$us.id}">删除</a></td>
						</tr>
					</foreach>
					<tr>
