
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ProductsUeditorParameter/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ProductsUeditorParameter/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ProductsUeditorParameter/lang/zh-cn/zh-cn.js"></script>



<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //  UE.getEditor('content',{initialFrameWidth:100%,initialFrameHeight:400,});
    UE.getEditor('myEditor',{
        initialFrameWidth:"100%",
        initialFrameHeight:300,
        //    "imageUrl":"{:U('News/uploadImage')}", //图片上传提交地址
        //    "imagePath":"__PUBLIC__/Uploads/news/desc/"  //图片显示地址
    });
</script>

<script type="text/javascript">
    //实例化编辑器
    //建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
    //  UE.getEditor('content',{initialFrameWidth:100%,initialFrameHeight:400,});
    UE.getEditor('myEditor2',{
        initialFrameWidth:"100%",
        initialFrameHeight:300,
        //    "imageUrl":"{:U('News/uploadImage')}", //图片上传提交地址
        //    "imagePath":"__PUBLIC__/Uploads/news/desc/"  //图片显示地址
    });

</script>
