<script>
    function csubstr(str,len){
        if(str.length>20){
            return str.substring(0,len)+"...";
        }else{
            return str;
        }
    }
</script>


<!-- Page Banner Start-->
<section class="page-banner padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="text-uppercase">服务支持</h1>
                <p>在这里你可以了解到公司的动向和最新信息</p>


                <ol class="breadcrumb text-center">
                    <li><a href="{:U('Home/index')}">Home</a></li>
                    <li><a href="{:U('Services/index')}">Services</a></li>
                    <foreach name="path" item="v">
                        <li> <a href="{:U('Services/index',array('cid'=>$v['id']))}">{$v.name}</a></li>
                    </foreach>&nbsp;
                </ol>
            </div>
        </div>
    </div>
</section>
<!-- Page Banner End -->


<!-- News Start -->
<section id="news-section-1" class="property-details padding_top">
    <div class="container property-details">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <empty name="services.data"><div class="empty-tip">没有找到您需要的信息。</div>
                        <else/>
                        <foreach name="services.data" item="v">
                            <div class="news-1-box clearfix">
                                <!--
                                <div class="col-md-5 col-sm-5 col-xs-12">
                                    <div class="image-2">
                                        <a href=""> <img src="__PUBLIC__/Uploads/services/small/{$v.thumb}" alt="image"  class="img-responsive"></a>
                                    </div>
                                </div>
                                -->
                                <div class="col-md-12 col-sm-12 col-xs-12 padding-left-25">
                                    <h4><a href="{:U('Services/services',array('id'=>$v['id']))}" target="_blank"> <script>document.write(csubstr("{$v.name}",150));</script></a></h4>
                                    <div class="news-details padding-b-10 margin-t-5">
                                      <!--  <span><i class="icon-icons230"></i> by Martin Moore</span>-->
                                        <span><i class="fa fa-user-o" aria-hidden="true"></i>飞宇集团有源部</span>
                                        <span><i class="icon-icons228"></i>{$v.date}</span>
                                    </div>
                                    <p class="p-font-15">
                                        <script>document.write(csubstr("{$v.desc}",120));</script>
                                    </p>

                                    <div class="pro-3-link padding-t-20">
                                        <a class="btn-more" href="{:U('Services/services',array('id'=>$v['id']))}" target="_blank">
                                            <i><img alt="arrow" src="__PUBLIC__/Home/images/arrowl.png"></i><span>了解更多</span><i> <img alt="arrow" src="__PUBLIC__/Home/images/arrowr.png"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </foreach>
                        <div class="row margin_bottom">
                            <div class="col-md-12">
                                <div class="pagelist">{$services.pagelist}</div>
                            </div>
                        </div>
                    </empty>
                </div>
                <!--分页-->

            </div>
            <aside class="col-md-4 col-xs-12">
                <div class="row">
                    <div class="col-md-12">
                        <form class="form-search bottom40" method="get" id="news-search" action="">
                            <div class="input-append">
                                <input type="text" class="input-medium search-query" placeholder="Search Here" value="">
                                <button type="submit" class="add-on"><i class="icon-icons185"></i></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12">
                        <include file="Services/_slide" />
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <div class="widget" id="widget_statistics">
                            <h5>文章归档</h5>
                            <div style="height:110px;overflow:auto;">
                                <ul>
                                    <volist id="vo" name="servicesgui">
                                        <li title="{$vo.t}({$vo.num}篇)"><a href="">{$vo.t}({$vo.num}篇)</a></li>
                                    </volist>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="bottom40 margin40">Featured Properties</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 p-image image bottom20">
                        <img src="__PUBLIC__/Home/images/f-p-1.png" alt="image">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="feature-p-text">
                            <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                            <span>by Martin Moore</span>
                        </div>
                    </div>
                </div>
                <div class="row padding-b-30 padding-t-30">
                    <div class="col-md-4 col-sm-4 col-xs-12 p-image image bottom20">
                        <img src="__PUBLIC__/Home1/images/f-p-1.png" alt="image">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="feature-p-text">
                            <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                            <span>by Martin Moore</span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12 p-image image">
                        <img src="__PUBLIC__/Home/images/f-p-1.png" alt="image">
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-12">
                        <div class="feature-p-text">
                            <h4><a href="#.">Get the best property in Town by our agent</a></h4>
                            <span>by Martin Moore</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="margin40 bottom20">Featured Properties</h3>
                    </div>
                    <div class="col-md-12 padding-t-30">
                        <div id="agent-2-slider" class="owl-carousel">
                            <div class="item">
                                <div class="property_item heading_space">
                                    <div class="image">
                                        <a href="#."><img src="__PUBLIC__/Home/images/slider-list2.jpg" alt="listin" class="img-responsive"></a>
                                        <div class="feature"><span class="tag-2">For Rent</span></div>
                                        <div class="price clearfix"><span class="tag pull-right">$8,600 Per Month - <small>Family Home</small></span></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="property_item heading_space">
                                    <div class="image">
                                        <a href="#."><img src="__PUBLIC__/Home/images/slider-list2.jpg" alt="listin" class="img-responsive"></a>
                                        <div class="feature"><span class="tag-2">For Rent</span></div>
                                        <div class="price clearfix"><span class="tag pull-right">$8,600 Per Month - <small>Family Home</small></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                   -->

            </aside>
        </div>
    </div>
</section>
<!-- News End -->



