<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 数据库备份</a> <a href="#" class="current">数据库备份接</a> </div>
    <h1>数据库备份</h1>
</div>


<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">

                <table class="table_parameters table table-bordered table-striped" border="0" cellSpacing="0" cellPadding="0" width="100%">
                    <tbody>
                        <tr class="tr_head">
                            <th width="40px">序号</th>
                            <th>文件名</th>
                            <th width="150px">备份时间</th>
                            <th width="130px">文件大小</th>
                            <th width="100px">操作</th>

                        </tr>
                        <notempty  name="lists">

                            <foreach name="lists" key="key" item="row">
                                <if condition="$key gt 1">
                                    <tr>
                                        <td>{$key-1}</td>
                                        <td style="text-align: left"><a href="{:U('Bak/index',array('Action'=>'download','file'=>$row))}">{$row}</a></td>
                                        <td>{$row|getfiletime=$datadir}</td>
                                        <td>{$row|getfilesize=$datadir}</td>
                                        <td>
                                            <a href="{:U('Bak/index',array('Action'=>'download','file'=>$row))}">下载</a>
                                            <a onclick="return confirm('确定将数据库还原到当前备份吗？')"href="{:U('Bak/index',array('Action'=>'RL','File'=>$row))}">还原</a>
                                            <a onclick="return confirm('确定删除该备份文件吗？')"href="{:U('Bak/index',array('Action'=>'Del','File'=>$row))}">删除</a>
                                        </td>
                                    </tr>
                                </if>
                            </foreach>
                            <else/>
                            <tr>
                                <td colspan="7">没有找到相关数据。</td>
                            </tr>

                        </notempty>
                    </tbody>
                </table>
                <p>     
                    <a class="btn btn-primary" type="button" onClick="location.href = '__URL__/index/Action/backup'">备份添加</a>
                </p>

        </div>



        </div>
        </div>
        <script type="text/javascript" src="http://www.sucaihuo.com/Public/js/other/jquery.js"></script>
